<div class="container">
    <h2>Historico de compras</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Articulo</th>
                <th>Cantidad</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <span *ngIf="relClienteArticulos.length == 0">
                No se encontraron resultados...
            </span>
            <tr *ngFor="let relClienteArticulo of relClienteArticulos">
                <td>{{ relClienteArticulo.cliente }}</td>
                <td>{{ relClienteArticulo.articulo }}</td>
                <td>{{ relClienteArticulo.cantidad }}</td>
                <td>{{ relClienteArticulo.fecha | date }}</td>
            </tr>
        </tbody>
    </table>

    <app-pagination [pageNumber]="pageNumber" [pageSize]="pageSize" [totalCount]="totalCount"
        (pageChange)="onPageChange($event)">
    </app-pagination>
</div>