<div class="container">
    <h2>Listado de Clientes</h2>

    <div style="padding-top: 10px; padding-bottom: 10px;">
        <button class="btn btn-success" (click)="addNewCustomer()">Agregar Nuevo Cliente</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Dirección</th>
                <th>Acciones</th> <!-- Agregamos esta columna para las acciones -->
            </tr>
        </thead>
        <tbody>
            <span *ngIf="customers.length == 0">
                No se encontraron resultados...
            </span>
            <tr *ngFor="let customer of customers">
                <td>{{ customer.nombre }}</td>
                <td>{{ customer.apellidos }}</td>
                <td>{{ customer.direccion }}</td>
                <td>
                    <!-- Botones para editar, eliminar -->
                    <button class="btn btn-primary" (click)="editCustomer(customer.id!)">Editar</button>
                    <button class="btn btn-danger" style="margin-left:10px;"
                        (click)="deleteCustomer(customer)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <app-pagination [pageNumber]="pageNumber" [pageSize]="pageSize" [totalCount]="totalCount"
        (pageChange)="onPageChange($event)">
    </app-pagination>
</div>