<div class="container">
    <h2>Listado de Usuarios</h2>
    <div class="mb-3">
        <button class="btn btn-success mr-2" (click)="create()">Crear Usuario</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Correo</th>
                <th>Cliente</th>
                <th>Rol</th>
                <th>Fecha de Último Acceso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <span *ngIf="users.length == 0">
                No se encontraron resultados...
            </span>
            <tr *ngFor="let user of users">
                <td>{{ user.nombreUsuario }}</td>
                <td>{{ user.correo }}</td>
                <td>{{ user.cliente != ' ' ? user.cliente : 'No aplica' }}</td>
                <td>{{ user.rol }}</td>
                <td>{{ user.fechaUltimoAcceso | date}}</td>
                <td>
                    <button class="btn btn-primary" (click)="editUser(user)">Editar</button>
                    <button class="btn btn-danger ml-2" (click)="deleteUser(user)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <app-pagination [pageNumber]="pageNumber" [pageSize]="pageSize" [totalCount]="totalCount"
        (pageChange)="onPageChange($event)">
    </app-pagination>
</div>